{{> _navbar_admin}}

<div class="container">
    <div class="card card-body">
        <h3>New Tea</h3>
        <form action="/teas" method="post">
            <div class="form-group">
                <label for="title">Tea Name</label>
                <input type="text" class="form-control" name="name" required>
            </div>
            <div class="form-group">
                <label for="priceper-cup">Price per Cup</label>
                <input type="text" class="form-control" name="pricecup" required>
            </div>
            <div class="form-group">
                <label for="price-per-pot">Price per Pot</label>
                <input type="text" class="form-control" name="pricepot" required>
            </div>
            <div class="form-group">
                <label for="price-per-oz">Price per Oz</label>
                <input type="text" class="form-control" name="priceoz" required>
            </div>
            <div class="form-group">
                <label for="details">Tea Description</label>
                <input type="text" class="form-control" name="description" required>
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <input type="text" class="form-control" name="category" required>
            </div>
            <div class="form-group">
                <label for="availability">Available</label>
                <input id="available-checkbox" type="checkbox" name="availability" class="available" checked>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>