 <a class="col-lg-4 inst-image" href="">
                <!-- <div class="row img-link"> -->
                <img id="main-page-pic" class="photo-link-foot" src="temppicrsz.jpeg">
                <h4 id="main-page-pic-text" class="link-text">Cleveland<br>Tea<br>Revival</h4>
                <!-- <h3 class="link-header">Menu</h3> -->
                <!-- </div> -->
            </a>