<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-5">
        <div class="container">
            <a class="navbar-brand" href="/">Cleveland Tea Revival</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Main Page</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Menu</a>
                        <div class="dropdown-menu">
                            <a href="/admin/teas" class="dropdown-item">Teas</a>
                            <a href="/admin/foods" class="dropdown-item">Food Items</a>
                            <a href="/admin/other" class="dropdown-item">Other</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">People</a>
                        <div class="dropdown-menu">
                            <a href="/admin/admins" class="dropdown-item">Admins</a>
                            <a href="/admin/employees" class="dropdown-item">Employess</a>
                            <a href="/admin/customers" class="dropdown-item">Customers</a>
                            <a href="/admin/purchases" class="dropdown-item">Purchases</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navbarDropdownMenuLink">Events</a>
                        <div class="dropdown-menu">
                            <a href="/admin/calendar" class="dropdown-item">Calendar</a>
                            <a href="/admin/blog" class="dropdown-item">Blog Posts</a>
                            <a href="/admin/events" class="dropdown-item">Events</a>                            
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>