<a class="col-lg-4 inst-image" href="kombucha.html">
                <!-- <div class="row img-link"> -->
                <img id="main-p-tile" class="photo-link-foot" src="chalksign.jpg">
                <h4 id="img-lnk-txt" class="link-text">Kombucha Class</h4>
                <!-- <h3 class="link-header">Kombucha Class</h3> -->
                <!-- </div> -->
            </a>
           