 <a class="col-lg-4 inst-image" href="wholesale.html">
                <!-- <div class="row img-link"> -->                
                <img id="main-p-tile" class="photo-link-foot" src="wreathrsz.jpeg">
                <h4 id="img-lnk-txt" class="link-text">Wholesale</h4>
                <!-- <h3 class="link-header">Wholesale</h3> -->
                <!-- </div> -->
            </a>