{{> _navbar}}

<div class="container-fluid">
		{{> _maintiles/_main_title_tile}}

	<div class="row">

		{{> _maintiles/_title_tile_one}}
		{{> _maintiles/_title_tile_two}}
		{{> _maintiles/_title_tile_three}}		
		{{> _maintiles/_title_tile_four}}
		
	</div>
		
	
</div>