body {
	background-color: rgb(242, 247, 255);
}

#nav-bar-id {
	z-index: 2;
	color: rgb(242, 247, 255);
	background: #ffa566; 
	background: linear-gradient(to bottom, 
                    rgba(242, 247, 255, 1), 
                    rgba(255, 165, 102, 1) 90%);
}

#nav-bar-background {
	color: rgb(232, 237, 245);
	z-index: 1;
	background-color: rgb(232, 237, 245);; 
}

.nav-padding {
	padding-top: 60px;
}

#nav-head {
	color: black;
}

#nav-item-id {
	color: black;
}

#nav-tog-btn {
	color: black;
}

#main-page-pic{
	padding-bottom: 5%;
	width: 100%;
	padding-top: 60px;

}

#main-page-pic-text {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 100%;
	text-align: center;
	font-family: 'Slabo 27px', serif;
	color: rgb(242, 247, 255);
	font-size: 300%;
	text-shadow: 0 0 5px #ffa566;
}

#main-p-tile {
	width: 100%;
	padding: 2%;
	border-radius: 50%;
	border-width: 10px;
	border-style: solid;
	border-color: rgba(255, 165, 102, .6);
	
}

#img-lnk-txt {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
	width: 100%;
	text-align: center;
	font-family: 'Slabo 27px', serif;
	color: rgb(242, 247, 255);
	font-size: 300%;
	text-shadow: 0 0 5px #ffa566;
}

.tea-card {
	float: left;
}

#cat-chkbx {
	 margin: auto;
    width: auto;
    /*border: 3px solid green;*/
    background-color: #afc0db;
    padding: 10px;
    text-align: center;
}


