 <a class="col-lg-3 col-md-6 col-sm-12 inst-image" href="/store">
                <!-- <div class="row img-link"> -->                
                <img id="main-p-tile" class="photo-link-foot" src="wreathrsz.jpeg">
                <h4 id="img-lnk-txt" class="link-text">Shop<br>Online</h4>
                <!-- <h3 class="link-header">Wholesale</h3> -->
                <!-- </div> -->
            </a>